

@model IEnumerable<CURDdemo.Models.Department>


@{
    ViewBag.Title = "Department";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    WebGrid grid = new WebGrid(Model, canPage: false);
    int rowVal = 0;
}

<h2>Department Informations</h2>

<div>

    @Html.ActionLink("Add New Department", "Save")
    <br />
    <a href="~/Department/Save"> Create New</a>

    <br />

    <h3 style="color: chocolate">Showing List of Data Using WebGrid</h3>

    @grid.GetHtml(tableStyle: "table table-bordered table-responsive table-hover",
    columns: grid.Columns(
         grid.Column("SL No.", format: item => rowVal = rowVal + 1),
         grid.Column("DeptId", "Dept Id"),
         grid.Column("DepartmentName", "Department Name"),
         grid.Column("DepartmentCode", "Department Code")
        
    )
    )
    
</div>